<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- JS and CSS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- <link rel="stylesheet" href="../static/css/main.css"/> -->
    <!-- <link rel="stylesheet" href="../static/css/footer.css"/> -->
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Volkhov&display=swap" rel="stylesheet">


    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/85242985af.js" crossorigin="anonymous"></script>
    

    <title>DiaDictor</title>
  </head>

  <body>

    <!--Navbar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container">
        <a class="navbar-brand" href="#">DIADICTOR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#aboutDiabetes">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#working">Working</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./community.html">Community</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#social">Contact Us</a>
            </li>
          </ul>
        </div>
          <a href="/doctor">
            <button class="btn btn-outline-danger" type="submit">Search Doctors</button>
          </a>
        
      </div>
    </nav>

    <!--Landing Page-->
    <header id="one" class="header" data-aos="zoom-out">
      <div class="container">

        <div class="text-box">
        <h1 class="heading-primary">
          <!--<span class="heading-primary-main">Heading Primary Main</span>
                      
          <span class="heading-primary-sub">The Diabetes Predictor</span>-->
        </h1>
        <a href="#predictors" class="btn btn-white btn-animated">Check Now !</a>
      </div>
      </div>
    </header>

    <div class="container">


      <!-- predictors -->
      <div class="row predictors" id="predictors">
        <div class="col-12 col-md-6">
          <div class="card bg-dark text-white">
            <img src="../static/media/dia.jpg" class="card-img" alt="Diabetes-predictor">
            <div class="card-img-overlay">
              <h5 class="card-title">Diabetes Predictor</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button type="button" class="btn btn-light btn-lg">Predict Now</button>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card bg-dark text-white">
            <img src="../static/media/blackfungusbg3.jpg" class="card-img" alt="Diabetes-predictor">
            <div class="card-img-overlay">
              <h5 class="card-title">Black Fungus Predictor</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <button type="button" class="btn btn-light btn-lg">Predict Now</button>
            </div>
          </div>
        </div>
      </div>
    
        <!--About Diabetes-->
        <div id="aboutDiabetes" class="container" data-aos="slide-up">
            <div class="row">
              <div class="col">
                <br>
                <br>
                <h1 class="aboutD-heading">About Diabetes</h1>
                <br>
                <p class="aboutD-para">Diabetes mellitus, commonly known as diabetes, is a metabolic disease that causes high blood sugar. The hormone insulin moves sugar from the blood into your cells to be stored or used for energy. With diabetes, your body either doesn’t make enough insulin or can’t effectively use the insulin it does make.</p>
                <p class="aboutD-para">Untreated high blood sugar from diabetes can damage your nerves, eyes, kidneys, and other organs.</p>
                <a href="https://www.who.int/health-topics/diabetes#tab=tab_1">Read more</a>
              </div>
              <div class="col">
                  <br>
                <!--<img src='/media/aboutDiabetes.jpg' class="rounded mx-auto d-block" alt="pic">-->
                <image src="{{url_for('static',filename = 'media/aboutDiabetes.jpg')}}" class="rounded mx-auto d-block" alt="pic">
                
              </div>
            </div>
        </div>
        <br>
        <br>
        <br>
        <!--About project-->
        <section  id="aboutProject" data-aos="slide-up">
          <div class="row">
              <div class="col col-lg-6">
                  <img id="aboutProjectImage" src="{{url_for('static',filename = 'media/aboutProject.jpg')}}" class="rounded mx-auto d-block" alt="pic" width=500px>
              </div>
              <div class="col col-lg-6">
                  <h1 class='aboutP-heading'>About Project</h1>
                  <p class='aboutP-para'>Diabetes is one of the most fatal chronic condition. Our project is made solely for people of India.</p>  
                  <p class='aboutP-para'>The project uses ML application with a backend in flask. The DiaDictor is basically Diabetes +Predictor and is used to get the probability of diabetes type-2. The results shown are pure predictions which are calculated by analyzing a data set. Our project is for those who wish to know the chances of being affected by this condition before referring to a doctor or those who want to double verify their reports.</p>      
                  <br>
                  <a href="/form">
                  <button class="bubbly-button">Enter Info!</button>
                  </a>
                  <a href="#working">
                  <button type="button" class="btn btn-outline-primary">Working</button>
                  </a>
              </div>
          </div>
      </section>

    <!--Black fungus prediction-->
    <!-- <section class="blackfungus">
      <div class="row">
        <div class="col col-lg-7">
            
        </div>
        <div class="col col-lg-5">
          <div class="blackfungustext">
            <h3 class="predicttext">EVEN PREDICT</h3>
            <h1 class="blackfungusmaintext">Black Fungus</h1>
            <h3 class="predicttext">Along with diabetes</h3>
            <a href="/form">
              <button type="button" class="btn btn-outline-danger">PREDICT NOW</button>
            </a>
          </div>
        </div>
    </div>
    </section>
  </div> -->

    <!--Working-->
    <section id="working" >
      <h1 id="Use" data-aos="fade-in">How to Use?</h1>
      <br>
      <br>
      <div class="row">
          <div class="pcol col-lg-4 col-md-6 col-sm-6" data-aos="fade-right">
           <div class="card">
               <div class="card-header">
                 <h3 class="steps">First Step</h3>
               </div>
               <div class="card-body">
                 <h5 class="steps">Get the reports</h5>
                 <ul class="list-items">   
                 <li>Glucose</li>
                 <li>Blood pressure</li>
                 <li>Skin thickness</li>
                 <li>Insulin</li> 
                 <li>BMI</li> 
                 <li>diabetes pedigree function</li>
                </ul>
                 
               </div>
             </div>
            </div>
           <div class="pcol col-lg-4 col-md-6 col-sm-6" data-aos="fade-up">
             <div class="card">
               <div class="card-header">
                 <h3 class="steps">Second Step</h3>
               </div>
               <div class="card-body">
                 <h5 class="steps">Enter the details</h5>
                 <ul class="list-items">
                 <li>Click the check button</li>
                 <li>Enter the mentioned details to get a probable result.</li>
                 <li>Click on predict button</li>
                  <br>
                  <br>
                </ul>
                   
               </div>
             </div>
           </div>
           <div class="pcol col-lg-4 col-md-6" data-aos="fade-left">
             <div class="card">
               <div class="card-header">
                 <h3 class="steps">Third Step</h3>
               </div>
               <div class="card-body">
                 <h5 class="steps">Take actions</h5>
                 <ul class="list-items">
                 <li>If the predictor shows a probability of more than 70 % then immediately consult a doctor.</li>
                 <li>If the predictor shows a probability less than 70% then maintain your health. </li>
                 <br>

                </ul>
                        
              </div>
              </div>
            </div>
          </div>
  </section>

    <!--footer-->
    <section id="aboutFooter" data-aos="fade-up">
        <h1 class="footerHead">About DIADICTOR</h1>
        <p class="emailid">
          The project uses ML application with a backend in flask. The DiaDictor is basically Diabetes +Predictor and is used to get the probability of diabetes type-2. The results shown are pure predictions which are calculated by analyzing a data set. Our project is for those who wish to know the chances of being affected by this condition before referring to a doctor or those who want to double verify their reports.
        </p>

        <h2>Mail us at</h2>
        <a href="mailto: didictor@gmail.com">
          <h2>Diadictor@gmail.com</h2>
        </a>
        <a href="https://github.com/amankumar11/Diabetes-predictor">
        <image src="{{url_for('static',filename = 'media/github.png')}}" width=50px>
        </a>
        <div class="social" id="social">
            
        </div>
    </section>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="/static/JS/aboutDiabetesButton.js"></script>
    <script src = "{{url_for('static', filename = 'JS/aboutDiabetesButton.js')}}" ></script>
    
  </body>
</html>